<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        margin: 50px 50px 50px 35%;
        width: 350px;
        height: 350px;
    }

    .table {
        padding: 10px;
    }

    th{
        border: 2px black solid;
        padding: 15px;
    }

    td{
        border: 2px black solid;
        padding: 15px;
        text-align: center;
    }
</style>

<button><a href="http://localhost:8080">Volver</a></button>

<div class="container">
    <img src="{{data.imagen}}" alt="Escudo del Equipo">
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Nombre Corto</th>
            <th scope="col">Abreviatura</th>
            <th scope="col">Colores</th>
            <th scope="col">Pais</th>
            <th scope="col">Direccion</th>
            <th scope="col">Estadio</th>
            <th scope="col">Telefono</th>
            <th scope="col">Web</th>
            <th scope="col">Fecha de Fundacion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{data.nombre}}</td>
            <td>{{data.nombreCorto}}</td>
            <td>{{data.abreviatura}}</td>
            <td>{{data.colores}}</td>
            <td>{{data.pais}}</td>
            <td>{{data.direccion}}</td>
            <td>{{data.estadio}}</td>          
            <td>{{data.telefono}}</td>
            <td><a href="{{data.web}}">{{data.web}}</a></td>
            <td>{{data.fundacion}}</td>            
        </tr>
    </tbody>
</table>

